<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/index">MicroBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <li><a class="nav-link" routerLink="/index" >Index <!--<span class="sr-only">(current)</span>--></a></li>
      <li><a class="nav-link" href="#">Explore</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!loggedIn"><a class="nav-link" routerLink="/login">Login</a></li>
      <li *ngIf="loggedIn"><a class="nav-link" href="#">Profile</a></li>
      <li *ngIf="loggedIn"><a class="nav-link" routerLink="/login">Log Out</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>