<br>
<div class="container">
    <div class="alert alert-info" role="alert" *ngIf="errorMsg">
        {{errorMsg}}
    </div>
    <h1>Reset Password</h1>
    <form [formGroup]="resetpasswordForm" (ngSubmit)="resetpasswordInClick()">
        <div class="form-group" >
            <label for="username">Email</label>
            <input type="email" formControlName="email" name="email" class="form-control" placeholder="Email" required>
        </div>
        <br>
        <button class="btn btn-secondary" >Request Password Reset</button>
    </form>
</div>

