<!--
<ul>
    <li *ngFor="let post of current_user_posts.items">
        <div><p>{{ post.id }} says: <b>{{ post.body }}</b></p></div>
    </li>
    <hr>
</ul>
-->

<table class="table table-hover">
    <tr *ngFor="let post of current_user_posts">
        <td width="70px">
            <a href="#">
                <img src="#" />
            </a>
        </td>
        <td>
                <a href="#">
                    {{ post.author }} 
                </a>
                said
            <br>
            <span id="post.id">{{ post.body }}</span>
        </td>
    </tr>
</table>
